<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Our story.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>November 2014</h4>
                                    <h4 class="subheading">Inception</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We began as a group of five students studying at <a href="http://illinois.edu">University of Illinois at Urbana-Champaign</a>, majoring in either computer science or computer engineering.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>February 2015</h4>
                                    <h4 class="subheading">There is Takefive</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We form great teamwork, so an organization is born to break the limits of trending ideas and to further explore advanced technologies. Governed my clear work division, the five of us manage to collaboratively realize bold ideas.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2012</h4>
                                    <h4 class="subheading">More Innovators Converge</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Takefive includes no just five students, but also other likewise people who wish to find someplace to create great softwares and meet other aspiring innovators. We readily welcome all of them (you).</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
