<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Team</h2>
                    <h3 class="section-subheading text-muted">We build stuff. Period.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-push-2 col-md-10 col-md-push-1">
                {% assign currentRow = 1 %}
                {% for member in site.people %}
                    {% cycle 'add rows': '<div class="row">', nil, nil, nil %}
                <div class="col-md-3 col-sm-6 col-xs-12 col-lg-3">
                    {% include member.html member = member %}
                </div>
                    {% cycle 'close rows': nil, nil, nil, '</div>' %}
                {% endfor %}
                    {% cycle 'close rows': nil, '</div>', '</div>', '</div>' %}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center" style="margin-top:10vh;">
                    <p class="large text-muted">We are a closely-knit team always eager to learn from each other. In the meantime we welcome anyone interested to join us. Simply shoot one of the members an e-mail and we'll talk!</p>
                </div>
            </div>
        </div>
    </section>
