<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Team</h2>
                    <h3 class="section-subheading text-muted">We build stuff. Period.</h3>
                </div>
            </div>
            <div class="row">
                {% comment %}
                The following code splits our team member array into two. The second one has the trailing people
                that are handled differently in layout.
                {% endcomment %}
                {% assign format_length = site.people | size | divided_by:3 | times:3 %}
                {% assign format_remainder = site.people | size | minus:format_length %}
                {% assign format_people = site.people | pop: format_remainder %}
                {% assign format_people_last = site.people | shift: format_length %}
                {% for member in format_people %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            {% if network.title == 'email' %}
                            {% assign icon_name = 'envelope-o' %}
                            {% else %}
                            {% assign icon_name = network.title %}
                            {% endif %}
                            <li><a href="{{ network.url }}" target="_blank" ><i class="fa fa-{{ icon_name }}"></i></a>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
                {% comment %}
                Center the last few team members using bootstrap offset
                {% endcomment %}
                {% for member in format_people_last %}
                {% if forloop.first %}
                {% if format_people_last | size == 1 %}
                  <div class="col-sm-12">
                {% else %}
                  <div class="col-sm-4 col-sm-offset-2">
                {% endif %}
                {% else %}
                  <div class="col-sm-4">
                {% endif %}
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            {% if network.title == 'email' %}
                            {% assign icon_name = 'envelope-o' %}
                            {% else %}
                            {% assign icon_name = network.title %}
                            {% endif %}
                            <li><a href="{{ network.url }}" target="_blank" ><i class="fa fa-{{ icon_name }}"></i></a>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">We are a closely-knit team always eager to learn from each other. In the meantime we welcome anyone interested to join us. Simply shoot one of the members an e-mail and we'll talk!</p>
                </div>
            </div>
        </div>
    </section>
